Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.3
Pillow==10.4.0
psycopg2-binary>=2.9.9
python-dotenv==1.0.1
dj-database-url==2.3.0
qrcode==8.0
qrcode[pil]
drf-spectacular==0.27.2
django-storages==1.14.4
boto3==1.35.36
gunicorn==23.0.0
whitenoise==6.7.0
Faker==30.3.0
